<%= render "shared/header" %>

<% if @user.errors.present? %>
<% @user.errors.full_messages.each do |message| %>
<p class="accent-text alert alert-danger small"><%= message %></p>
<% end %>
<% end %>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

<div class="container text-center justify-content-center col-3">
    <form class="form-signin py-4">
  <a > <%= image_tag( "logo.png",alt: "Logo" , size: "200x200") %> </a>
  <h1 class="h3 my-3 font-weight-normal">Please sign up</h1>

  <label for="inputname" class="sr-only">User name</label>
  <!-- name -->
  <!-- <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus> -->
  <%= f.text_field :name, autofocus: true, autocomplete: "name" , class: "form-control", placeholder: "User name"%>

  <label for="inputEmail" class="sr-only">Email address</label>
  <!-- email -->
  <!-- <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus> -->
  <%= f.email_field :email, autocomplete: "email" , class: "form-control", placeholder: "Email address"%>

  <label for="inputPassword" class="sr-only">Password</label>
  <!-- パスワード -->
  <!-- <input type="password" id="inputPassword" class="form-control" placeholder="Password" required> -->
  <%= f.password_field :password, autocomplete: "new-password",class: "form-control",placeholder: "New password" %>
  <%= f.password_field :password_confirmation, autocomplete: "new-password",class: "form-control",placeholder: "New password(confirmation)" %>
  <!-- チェックボックス -->
  <% if devise_mapping.rememberable? -%>
    <div class="field checkbox mb-3">
        <%= f.check_box :remember_me %>
        <%= f.label "Remember me"%>
    </div>
  <% end %>
  <!-- <button class="btn btn-lg btn-outline-danger btn-block" type="submit">Sign in</button> -->
  <%= f.submit "Sign up" ,class: "btn btn-lg btn-outline-danger btn-block"%>
  <p class="mt-5 mb-3 text-muted">&copy; Sauna Now</p>
</form>
</div>

<% end %>



<%= render "shared/footer" %>
