<!--ヘッダー -->
<header class= "py-4 base-color text-danger">
  <div class ="container text-center">
    <h1 >SAUNA NOW<h1/>
  </div>
</header>

<!-- ナビBAR -->
<nav class="navbar  navbar-expand-md base-color sticky-top text-danger" >
  <!-- サブ -->
  <div class="container" >
    <a class="navbar-brand" href="/">
    <%= image_tag( "logo.png",alt: "Logo" , size: "50x50") %>
    </a>
    <!-- 切り替えボタン -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="ナビゲーション切替">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="navbar-nav">
        <a class="nav-item nav-link active " href="#">みんなのつぶやき<span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link active" href="/facilities">サウナ一覧</a>
        <a class="nav-item nav-link active" href="/facilities/new">サウナ登録</a>
        <a class="nav-item nav-link disabled" href="#"></a>
        <% if user_signed_in? %>
        <%= link_to current_user.email, edit_user_registration_path, class:"nav-item nav-link active"  %>
        <% end %>
      </div>
    </div>
    <!-- ドロップダウン -->
  <ul class="nav  nav-pills">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle " data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">ユーザーMENU</a>
      <div class="dropdown-menu base-color ">
        <a class="dropdown-item accent-text" href="#">みんなのサウナなう</a>
        <a class="dropdown-item accent-text" href="#">お気に入りサウナ</a>
        <% if user_signed_in? %>
          <%= link_to 'アカウント', "/users/#{current_user.id}", class:"dropdown-item accent-text"  %>
          <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class:"dropdown-item accent-text"  %>
        <% else %>
          <%= link_to 'サインアップ', new_user_registration_path, class:"dropdown-item accent-text" %>
          <%= link_to 'ログイン', new_user_session_path, class:"dropdown-item accent-text"  %>
        <% end %>
      </div>
    </li>
  </ul>

</nav>
