<%= render partial: 'shared/header' %>
<main>
<div class="py-4">
    <div class="container">
      <h3><%= @facility.name%></h3><%= @facility.id%>
      <p class="sub-title small"><%= @facility.address %></p>
      <div class="row">
        <!-- 左 -->
        <div class="col-md-6">
            <h5 class="mb-3">おすすめコメント</h5>
            <!-- 表 -->
            <table class="table table-hover">
              <tbody>
                <tr>
                  <th>コメント</th>
                  <td><%= @facility.description %></td>
                </tr>
                <tr>
                  <th>おすすめ設備</th>
                  <td>まだ実装してないよ</td>
                </tr>
              </tbody>
            </table>
        </div>
        <!-- 右 -->
        <div class="col-md-6">
          <section id="access">
            <h5 class="mb-3">Map</h5>
            <!-- 地図埋め込み -->
            <p>地図入れたい</p>
          </section>
        </div>
      </div>
    </div>
</div>
</main>

<%= render partial: "shared/footer" %>
