<%= render partial: 'shared/header' %>
<main>
<div class="py-4">
    <div class="container">
      <h3><%= @facility.name%></h3><%= @facility.id%>
      <p class="sub-title small"><%= @facility.address %></p>
      <div class="row">
        <!-- 左 -->
        <div class="col-md-6">
            <h5 class="mb-3">おすすめコメント</h5>
            <!-- 表 -->
            <table class="table table-hover">
              <tbody>
                <tr>
                  <th>コメント</th>
                  <td><%= @facility.description %></td>
                </tr>
                <tr>
                  <th>おすすめ設備</th>
                  <td>まだ実装してないよ</td>
                </tr>
              </tbody>
            </table>
        </div>
        <!-- 右 -->
        <div class="col-md-6">
          <section id="access">
            <h5 class="mb-3">Map</h5>
            <!-- 地図埋め込み -->
            <p>地図入れたい</p>
          </section>
          <div>
            <a><%= link_to "編集する", edit_facility_url,class: "btn btn-light accent-text" %></a>
            <a><%= link_to "削除する", @facility,method: :delete,
              data: {
                confirm: "施設#{@facility.name}を削除します。よろしいですか?",
                cancel: 'キャンセル',
                commit: '削除する'
                }, title: 'Confirm',
              class: "btn btn-light accent-text" %></a>
            <a class=" ml-3"><i class="fa fa-heart fa-x2"></i></a>
          </div>
        </div>
      </div>
    </div>
</div>
</main>
<!-- コメント欄 -->
<div class="container">
  <%= form_for [@facility,@comment]  do |form| %>
  <div class="">
    <%= form.text_field :text ,class: "form-control" %>

  </div>
  <%= form.submit "コメント送信",class: "btn btn-light accent-text"%>

  <% end %>
  <!-- コメントの表示 -->

  <div class=" m-3 p-1">
    <% @comments.each do |comment|%>
    <div class="mb-3 bg-light">
      <p class="h5"><%=comment.user.name %></p>
      <!-- <p class="small"><%=comment.facility.name%></p> -->
      <h6 class="small"><%= comment.text %></h6>
      </div>

    <% end %>
  </div>
</div>
<h5>コメント数：<%= @comments.count%></h5>
<%= render partial: "shared/footer" %>
