<%= render "/shared/header" %>

<!-- ジャンボトロン  -->
<div class="jumbotron jumbotron-fuluid base-color mb-0">
  <div class="container">
    <h1 class="display-3 accent-text">Sauna Now</h1>
    <p class="lead accent-text">サウナ好きのための情報共有メディアです</p>
  </div>
</div>

<!-- 検索 -->
<div class="container-fluid accent-color py-4 mb-2" style="text-align:center">
    <p>     </p>
    <%= image_tag( "logo.png",class: "img-thumbnail rouded mx-auto  d-block base-color", alt: "Logo" , size: "200x200") %>
    <p>     </p>
    <p class="font-weight-bold h5">サウナを探す</p>
  <div class="btn-group row justify-content-center" role="group" aria-label="検索ボタン">
    <a href="#" class="btn btn-light accent-text col-4 m-1" >都道府県から探す</a>
    <a href="#" class="btn btn-light accent-text col-4 m-1" >特徴から探す</a>
    <a href="#" class="btn btn-light accent-text col-4 m-1" >現在地から探す</a>
  </div>
  <div class="input-group row justify-content-center m-1">
    <input type="text" class="form-control col-2" placeholder="キーワードを入力" aria-label="キーワードを入力"  >
    <a class="input-group-append ">
      <button class="btn btn-secondary base-color " type="button ">検索</button>
    </a>
  </div>
</div>
<!-- 検索終わり -->



<!-- メイン -->
<main>
  <!-- コンテンツ１ みんなのサウナ活動-->
  <div class= "container py-4 ">
    <div class="container">
      <h3 class="mb-3"> Sauner Post</h3>
      <p class="sub-title">サウナ活動をシェアしましょう</p>
    </div>
    </div>
    <!-- 繰り返し分２ -->


<% @comments.each do |comment|%>
    <div class="container bg-light">
    <div class="media mb-2">
      <a  class="mr-3 "href="/"><%= image_tag( "no_image.png",alt: "user",size: "100x100" ,class: "rounded-circle") %></a>
    <!-- 画像 -->
      <div class="media-body">

      <h5><%= comment.user.name %></h5>
      <span class="small "><%= comment.text %></span>
      <p class="text-right mr-5"><i class="fa fa-heart fa-x2"></i></p>
    </div>
    </div>



    </div>
    <% end %>

    <!-- 繰り返し終わり -->
    <div class ="container" >
      <%= paginate @comments %>
      </div>



  <!-- コンテンツ２ おすすめサウナ施設 -->
  <div class= "container py-4 ">
    <div class="container">
      <h3 class="mb-3">Sauna Info</h3>
      <p class="sub-title">お気に入りのサウナを探しましょう</p>
      <% @facilities.each do |facility|%>
     <!-- 新しいビューのサンプル -->
   <div class ="container" >
     <!-- row1 -->
     <div class =" row m-3 ">
       <!-- 画像col -->
       <div class="col-md-3 m-2 p-1">
         <%= image_tag( "no_image.png", alt: "photo" , style: "max-width: 200px;") %>
       </div>
       <!-- 題名col -->
       <div class="col-md-8 m-3 p-1">
           <p class="facility_name"><%=facility.name %></p>
           <p class="facility_address"><%=facility.address %></p>
                 <h6 class="mb-3"><%=facility.description %></h6>
                 <div>
                   <a><%= link_to "詳しく見る", facility,class: "btn btn-light accent-text" %></a>
                   <a href="#" class="card-link btn btn-light accent-text">あとで見る</a>
                     <a class=" ml-3"><i class="fa fa-heart fa-x2"></i></a>
                 </div>
       </div>
       <!-- col終わり     -->
       </div>

     </div>

     <!-- 新しいビューのサンプル -->
     <% end %>
     <div class ="container" >
       <%= paginate @facilities %>
       </div>
  </div>
  <!-- プロフィール -->
 <div class="py-4">
   <section id="about">
     <div class="container">
       <h3 class="mb-3 ">About</h3>
       <p class="sub-title">作成者について</p>
       <div class="row">
         <!-- 左 -->
         <div class="col-md-6">
           <section id="about-me">
             <h4 class="mb-3">Profile</h4>
             <!-- 表 -->
             <table class="table table-hover">
               <tbody>
                 <tr>
                   <th>ユーザー名</th>
                   <td>RYO</td>
                 </tr>
                 <tr>
                   <th>出身</th>
                   <td>神奈川県</td>
                 </tr>
                 <tr>
                   <th>現職</th>
                   <td>不動産営業マン</td>
                 </tr>
                 <tr>
                   <th>特徴</th>
                   <td>WEBエンジニアを目指して勉強中</td>
                 </tr>
               </tbody>
             </table>
           </section>
         </div>
         <!-- 右 -->
         <div class="col-md-6">
           <section id="access">
             <h4 class="mb-3">Map</h4>
             <!-- 地図埋め込み -->
             <p>準備中</p>
           </section>
         </div>
       </div>
     </div>
   </section>
 </div>
</main>

<!-- フッター -->


  <%= render "shared/footer" %>
